.table {
	margin-top: 20px;
	padding: 10px;
	position: relative;
	display: inline-block;
}

.cell {
	position: relative;
	display: inline-block;
	margin-right: 70px;
}

.footer {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	font-family: "Gugi";
	font-family: "Homemade Apple";
	font-family: "Lilita One";
	font-family: "Playball";
	font-family: "Montserrat Alternates";
}
