.detailListContainer {
	margin-top: 50px;
	position: relative;
	display: inline-block;
	width: 45%;
}

.detailImageContainer {
	position: relative;
	display: inline-block;
	width: 45%;
}

.detailLists{
	left: 15%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 90%;
	top: -100px;
}

.detailImage {
	left: 5%;
	margin-top: 50px;
	position: relative;
	display: inline-block;
	width: 95%;
}

.back {
	position: relative;
	display: inline-block;
	font-family: "itim";
	font-family: "Gugi";
	font-family: "Croissant One";
	font-family: "Protest Guerrilla";
	font-family: "Barlow Condensed";
	font-weight: -999;
	text-decoration: none;
	left: 3%;
	color: inherit;
}

.detail {
	font-family: "Gugi";
	font-family: "Lilita One";
	font-family: "Croissant One";
	font-family: "Protest Guerrilla";
	font-family: "Barlow Condensed";
	font-weight: -999;
	position: relative;
	background-color: #f5f5f5;
}
