.rating {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
}

.rating span {
  color: #000000; 
}

.rating i {
  margin-right: 5px;
}

.rating span i {
  color: var(--color, #f8ce0b);
}

.fas.fa-star:before,
.fas.fa-star-half-alt:before {
  content: "\2605"; 
}

.far.fa-star:before {
  content: "\2606"; 
}

@media (max-width: 435px) {
	.rating {
		font-size: 13px;
	}
}
